{% load i18n %}{% autoescape off %}
{% blocktranslate %}Você recebeu este e-mail porque solicitou a redefinição de senha para sua conta em {{ site_name }}.{% endblocktranslate %}

{% translate "Clique no link abaixo para criar uma nova senha:" %}
{% block reset_link %}{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}{% endblock %}

{% translate "Seu nome de usuário, caso tenha esquecido:" %} {{ user.get_username }}

{% translate "Se você não solicitou esta redefinição, ignore este e-mail." %}

{% blocktranslate %}Atenciosamente,
Equipe {{ site_name }}{% endblocktranslate %}
{% endautoescape %}